// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Mixin breakpoint - bp - curso conquer
@use "variables" as v;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: v.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: v.$bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset-list() {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-contact-me() {
  display: inline-block;
  color: v.$white-color;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.29px;

  position: relative;
  padding: 5px;

  &::after {
    content: "";
    position: absolute;
    left: 4px;
    bottom: -8px;
    width: 94%;
    height: 2px;
    background-color: v.$green-color;
    transition: background-color 0.3s ease;
  }
}
