// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as abs;

.header {
  .container {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: abs.$gradient-header;
  }

  .lines-circules {
    position: absolute;
    width: 100%;
    left: -50%;
    top: 30%;
    z-index: -1;
  }
  .oval {
    position: absolute;
    width: 30%;
    right: -50%;
    top: 70%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    @include abs.breakpoint(tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      color: abs.$white-color;
      font-size: 24px;
    }
    nav {
      margin-bottom: 50px;
      ul {
        @include abs.reset-list();
        img {
          width: 20px;
        }
      }
    }
  }
  .profile-img {
    width: 100%;

    height: auto;
    display: block;
    margin: 0 auto;
  }
}
