// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as abs;

.header {
  position: relative;
  overflow: hidden;

  .header-content {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: abs.$gradient-header;

    @include abs.breakpoint(tablet) {
      width: 100%;
      background-image: none;
    }
  }

  .lines-circules {
    position: absolute;
    width: 100%;
    left: -50%;
    top: 30%;
    z-index: -1;
    @include abs.breakpoint(tablet) {
      width: 30%;
      left: 0;
      top: 100%;
    }
  }
  .oval {
    position: absolute;
    width: 30%;
    right: -50%;
    top: 70%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    z-index: 2;

    @include abs.breakpoint(tablet) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    h1 {
      color: abs.$white-color;
      font-size: 24px;
    }
    nav {
      margin-bottom: 50px;
      @include abs.breakpoint(tablet) {
        margin: 0;
      }

      ul {
        @include abs.reset-list();
        img {
          width: 20px;
        }
      }
    }
  }
  .profile-img {
    position: relative;
    width: 100%;

    height: auto;
    display: block;
    margin: 0 auto;

    @include abs.breakpoint(tablet) {
      position: absolute;
      width: 40%;
      z-index: 1;
      right: 0%;
      top: 0%;
      padding-top: 50px;
      background: abs.$person-bg;
    }
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    text-align: center;
    align-items: center;

    border-bottom: 2px solid white;
    padding-bottom: 80px;

    @include abs.breakpoint(tablet) {
      align-items: start;
      text-align: left;
    }

    .hero-title {
      color: abs.$white-color;
      font-size: 40px;
      line-height: 40px;
      margin: 0 0 10px 0;
      .mobile-break1 {
        display: none;
      }

      @include abs.breakpoint(tablet) {
        font-size: 70px;
        max-width: 460px;
        line-height: 85px;
        margin-bottom: 35px;
        .mobile-break1 {
          display: block;
        }
        .mobile-break2 {
          display: none;
        }
      }
      span {
        position: relative;
        display: inline-block;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 97%;
          height: 4px;
          background-color: abs.$green-color;
        }
      }
    }
    .hero-bio {
      color: abs.$white-color;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      max-width: 455px;
      margin-bottom: 20px;
    }
    .btn-contact {
      @include abs.btn-contact-me();
    }
  }
}
